name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Dockerfiles
      run: docker build -f deploy/Dockerfile . -t xyo-sdk-node:latest --no-cache
